/*task-3-start*/
/* #gallery {
    width: 700px;
    margin: 0 auto;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.item_gal {
    width: 400px;
    margin-top: 50px;
    margin-right: 5px;

}

.img_gal {
    display: block;
    width: 400px;
    height: 250px;
} */
/*end*/

/*task-6-start*/
#validation-input {
    border: 3px solid #bdbdbd;
  }
  
  #validation-input.valid {
    border-color: #4caf50;
  }
  
  #validation-input.invalid {
    border-color: #f44336;
  }
/*end*/